.head-1 {
    margin-bottom: 20px;
}

.control-panel {
    margin-top: 40px;
    display: block;
}

.status-style {
    margin-bottom: 20px;
}

.del-button {
    margin-top: 10px;
    display: block !important;
}

.error-server, .error-server div {
    color: #ff0000;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 15px;
    margin: 10px 0;
}
